
/*bottom*/

.bottom {
	color: #4d4d4d;
	width: 1000px;
	margin: auto;
	height: 260px;
}

.bottom .n-text {
	text-align: left;
	display: inline-block;
}

.n-text img {
	width: 230px;
	margin-top: 30px;
}

.bottom .fl {
	width: 40%;
}

.bottom h3 {
	margin-top: 50px;
	font-size: 36px;
	font-weight: normal;
}

.bottom p a {
	color: #aaa;
}

.bottom p {
	font-size: 16px;
	margin-top: 5px;
	color: #aaa;
}

.weixin {
	margin-right: 30px;
	margin-top: 45px;
	text-align: center;
}

.weixin p {
	font-size: 12px;
}

.code-img {
	width: 130px;
	height: 130px;
	padding: 10px;
	margin: auto;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
}

.code-img img {
	width: 100%;
}

.copyright {
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #4d4d4d;
	background: #e6e6e6;
	text-align: center;
	color: #aaa;
}

.f-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	text-align: center;
	display: none;
}

.f-top p {
	margin-bottom: 20px;
}

.f-top p a {
	color: #484848;
}

.fh-top {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../img/top.png)no-repeat center center;
	background-size: 50px 50px;
	cursor: pointer;
}


/*bottom end*/